<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ControleUsuario</servlet-name>
        <servlet-class>br.com.melhoroferta.controller.ControleUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleVendedor</servlet-name>
        <servlet-class>br.com.melhoroferta.controller.ControleVendedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>br.com.melhoroferta.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagMoip</servlet-name>
        <servlet-class>br.com.melhoroferta.persistencia.PagMoip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviaEmail</servlet-name>
        <servlet-class>br.com.melhoroferta.utilidades.EnviaEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleSolicitacao</servlet-name>
        <servlet-class>br.com.melhoroferta.controller.ControleSolicitacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleAlterarSenhaUsuario</servlet-name>
        <servlet-class>br.com.melhoroferta.controller.ControleAlterarSenhaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleAlterarSenhaVendedor</servlet-name>
        <servlet-class>br.com.melhoroferta.controller.ControleAlterarSenhaVendedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleInteracao</servlet-name>
        <servlet-class>br.com.melhoroferta.controller.ControleProposta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleProposta</servlet-name>
        <servlet-class>br.com.melhoroferta.controller.ControleProposta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleUsuario</servlet-name>
        <url-pattern>/ControleUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleVendedor</servlet-name>
        <url-pattern>/ControleVendedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagMoip</servlet-name>
        <url-pattern>/PagMoip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviaEmail</servlet-name>
        <url-pattern>/EnviaEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleSolicitacao</servlet-name>
        <url-pattern>/ControleSolicitacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleAlterarSenhaUsuario</servlet-name>
        <url-pattern>/ControleAlterarSenhaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleAlterarSenhaVendedor</servlet-name>
        <url-pattern>/ControleAlterarSenhaVendedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleInteracao</servlet-name>
        <url-pattern>/ControleInteracao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleProposta</servlet-name>
        <url-pattern>/ControleProposta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
           30
       </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
